<app-homeback-toolbar></app-homeback-toolbar>
<!-- <header>
<img src="../../assets/img/header_bjork.jpg">
</header> -->
<section>
  <form class="form-container" [formGroup]="userForm">
    <h3 class="form-title">{{formTitle}}</h3>

    <mat-form-field>
      <input matInput
             placeholder="Nom d'utilsateur"
             name="username"
             formControlName="username"
             required>
      <mat-error *ngIf="userForm.get('username').hasError('required')">
        Nom d'utilisateur requis.
      </mat-error>
      <mat-error *ngIf="userForm.get('username').hasError('minLenght')">
        nom trop court
      </mat-error>
    </mat-form-field>


    <mat-form-field>
      <input matInput
             placeholder="Password"
             type="password"
             name="password"
             formControlName="password"

             required>
      <mat-error *ngIf=" userForm.get('password').dirty && userForm.get('password').hasError('required')">
        Mot de passe requis.
      </mat-error>
      <mat-error *ngIf="userForm.get('password').hasError('minLength')">
        Mot de passe trop court.
      </mat-error>
    </mat-form-field>

    <div class="confirm-container">
      <button mat-button class="cancel"
              (click)="reset()">Annuler</button>
      
      <!-- [disabled]="userForm.invalid" -->
      <button mat-button class="confirm"
              type="submit"
              (click)="register(userForm.value)">Valider</button>
    </div>

  </form>
</section>
