<mat-toolbar>
  <app-side-menu *ngIf="isHomePage"></app-side-menu>
  
  <span class="fill-remaining-space"
        *ngIf="isHomePage">
  </span>

  <app-back-button *ngIf="isHomePage"></app-back-button>
  
  <span class="fill-remaining-space"></span>

  <a  href=""
    routerLink="/"
    routerLinkActive="selected">
    <h1> {{ title }} </h1>
  </a>

  <span class="fill-remaining-space"></span>

  <span id="connectSubscribe"
        *ngIf="isConnectPage">
    <button mat-button (click)="navigateToConnection()">Se connecter</button> | 
    <button mat-button (click)="navigateToSubscribe()">S'inscrire</button>
  </span>

  <span class="fill-remaining-space" *ngIf="isHomePage"></span>
  
  <app-personal-menu *ngIf="isHomePage"></app-personal-menu>

</mat-toolbar>