
<section>
  <form class="form-container" (ngSubmit)="register(userForm.value)" [formGroup]="userForm">
    <h3 class="form-title">{{formTitle}}</h3>

    <mat-form-field >
      <input matInput placeholder="Nom d'utilsateur" formControlName="username" required>
      <mat-error *ngFor="let validation of subscribe_validation_messages.username">
        <mat-error class="error-message" *ngIf="userForm.get('username').hasError(validation.type) && (userForm.get('username').dirty || userForm.get('username').touched)">{{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>
    <!--
    <mat-form-field>
      <input matInput
             placeholder="Nom d'utilsateur"
             name="username"
             formControlName="username"
             [errorStateMatcher]="userMatcher"
             required>
      <mat-error *ngIf="userForm.get('username').hasError('minLenght')">
        nom trop court
      </mat-error>
      <mat-error *ngIf="userForm.get('username').hasError('required')">
        le nom d'utilisateur <strong>est requis</strong>
      </mat-error>
      <mat-error *ngIf="userForm.get('username').hasError('pattern')">
        erreur de syntax, ne pas contenir de caratère spéciaux sauf '-'
      </mat-error>
    </mat-form-field>
  -->
    <mat-form-field>
      <input matInput
             type="email"
             name="email"
             placeholder="votre email : monemail@servermail.extension"
             formControlName="email"
             required>
      <mat-error *ngFor="let validation of subscribe_validation_messages.email">
        <mat-error class="error-message" *ngIf="userForm.get('email').hasError(validation.type) && (userForm.get('email').dirty || userForm.get('email').touched)">{{validation.message}}
        </mat-error>
      </mat-error>
    </mat-form-field>

      <div formGroupName="passForm">
          <mat-form-field class="full-width">
              <input matInput
                     [type]="hide ? 'password' : 'text'"
              placeholder="Password" formControlName="password" required>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngFor="let validation of subscribe_validation_messages.password">
                  <mat-error class="error-message" *ngIf="userForm.get('passForm').get('password').hasError(validation.type) && (userForm.get('passForm').get('password').dirty || userForm.get('passForm').get('password').touched)">{{validation.message}}</mat-error>
              </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
              <input matInput
                     [type]="hide ? 'password' : 'text'"
                     placeholder="Confirm Password" formControlName="passwordConfirm"  [errorStateMatcher]="parentErrorStateMatcher" required>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

              <mat-error *ngFor="let validation of subscribe_validation_messages.passwordConfirm">
                  <mat-error class="error-message" *ngIf="(userForm.get('passForm').get('passwordConfirm').hasError(validation.type)|| userForm.get('passForm').hasError(validation.type)) && (userForm.get('passForm').get('passwordConfirm').dirty || userForm.get('passForm').get('passwordConfirm').touched)">{{validation.message}}</mat-error>
              </mat-error>
          </mat-form-field>
      </div>
<!--
    <div class="passwords" formGroupName="passForm">
      <mat-form-field>
        <input matInput placeholder="Mot de passe" type="password" formControlName="password"
               [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="password.invalid"></mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Confirmez le mot de passe" formControlName="confirmPassword"
               [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="confirmPassword.getError('required')">La confirmation du mot de passe est requise</mat-error>
        <div class="noMatch" *ngIf="userForm.get('passwords').getError('nomatch')">Les mots de passes ne sont pas compatibles</div>
      </mat-form-field>
    </div>


    <fieldset formGroupName="passForm">
      <input matInput
             placeholder="Password"
             name="password"
             [type]="hidePassword ?  'password' : 'text'"
             required>
      <mat-icon matSuffix
                (click)="hidePassword = !hidePassword">
        {{hidePassword ? 'visibility_hoff' : 'visibility'}}
      </mat-icon>
      <mat-error *ngIf="userForm.get('passForm').hasError('password')">Le passwordsd requise
        le password est requis <strong>est requis</strong>
      </mat-error>

      <input matInput
             placeholder="Confirm Password"
             type="password"
             name="coNfirmpassword"
             formControlName="passwordConfirm"
             [type]="hidePassword ?  'password' : 'text'"
             required>
      <mat-icon matSuffix
                (click)="hidePassword = !hidePassword">
        {{hidePassword ? 'visibility_hoff' : 'visibility'}}
      </mat-icon>
      <mat-error *ngIf="userForm.get('passForm').hasError('noMatch')"></mat-error>
    </fieldset>

    <mat-form-field>
      <input matInput
             type="email"
             name="email"
             placeholder="Email"
             formControlName="email"
             required>
      <mat-error *ngIf="emailControl.hasError('required')">Veuillez renseigner votre email</mat-error>
      <mat-error *ngIf="emailControl.hasError('email')">Email invalid ( <strong>monemail@servermail.extension</strong>)</mat-error>

    </mat-form-field>
<!--

    <mat-form-field >
      <input matInput placeholder="Nom d'artiste" formControlName="artistName" required>
      <mat-error *ngFor="let validation of subscribe_validation_messages.username">
        <mat-error class="error-message" *ngIf="artistForm.get('artistName').hasError(validation.type) && (artistForm.get('artistName').dirty || artistForm.get('artisName').touched)">{{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>
-->
    <mat-form-field>
      <input matInput
             type="text"
             name="commune"
             placeholder="commune"
             [matAutocomplete]="auto"
             formControlName="cityName"
      >
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let commune of datas" name="commune" [value]="commune?.nom +' '+ commune?.codesPostaux[0]" required>
          {{commune?.nom}}
          {{commune?.codesPostaux[0]}}
        </mat-option>
      </mat-autocomplete>
        <mat-error *ngFor="let validation of subscribe_validation_messages.cityName">
            <mat-error *ngIf="userForm.get('cityName').hasError(validation.type) && userForm.get('cityName').dirty || userForm.get('cityName').touched">
            </mat-error>
        </mat-error>
    </mat-form-field>
   <!--s
    <mat-checkbox
            data-md-icheck
            type="checkbox"
            name="isartist"
            formControlName="isArtist"
            [(ngModel)]="checkedBoxModel"
            (change)="toggleChecked()">
      <span>Vous êtes artistes / groupes</span>
    </mat-checkbox>
<div formGroupName="artistForm">
    <mat-form-field *ngIf="markedCheck">
      <input matInput
             placeholder="Artist name"
             name="artisname"
             formControlName="artistName"
             required>

      <mat-error *ngIf="artistForm.get('artistName').hasError('required')">
        le nom du group est requis <strong>est requis</strong>
      </mat-error>
      <mat-error *ngIf="artistForm.get('artistName').hasError('minLenght')">
        nom trop court
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="markedCheck">
      <textarea matInput
                class="form-long-description"
                placeholder="Votre description"
                name="shortDesc"
      >
      </textarea>
    </mat-form-field>
</div>

-->
    <div class="confirm-container">
      <button mat-button class="cancel"
              (click)="reset()">Annuler</button>
      <button mat-button class="confirm"
              type="submit"
      >Valider</button>

    </div>

  </form>
</section>
<!--
  <button mat-button class="confirm"
             type="submit"
             [disabled]="userForm.invalid"
             (click)="">Valider</button>
 -->