/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(155, 155, 155);
    color: rgb(255, 255, 255);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
#home,
#subscribe,
#login{
    padding: 60px 20%;
}
@media only screen and (min-width: 780px){
    #home,
    #subscribe,
    #login{
        padding: 0 20%;
    }
}
